<template>
    <div>

      <v-container>
        
        <v-item-group selected-class="bg-primary">
      <v-container>
       
      </v-container>
    </v-item-group>
      </v-container>
      <v-form>
    <v-container>
      
      <v-card style="box-shadow: 0 2px 15px 0 rgb(25 25 112);">
        <v-card-title class="text-h5 font-weight-regular primary white--text">
      Pelicula
        </v-card-title>
        <br>
        <v-row>
        <v-col cols="12" sm="12" >
          <v-text-field v-model="nombramiento" outlined clearable label="Buscar pelicula" style="padding-left: 20px; padding-right: 20px;"></v-text-field>
        </v-col>
      </v-row>
   
      </v-card>

      <br>
     
      <br>
      <br>

      <br>
      
      
        <br>
        <br>
        <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="red lighten-2"
          dark
          v-bind="attrs"
          v-on="on"
        >
         Ver Favorito
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          FAVORITOS
        </v-card-title>

        <v-card-text>
            <main>
    <h3 class="text-gray-500 text-xl tracking-widest">tUS pELICULAS FAVORITAS</h3>

     <div  v-for="character2 of favMovies " v-bind:key="character2.id">
    <div class="card">
        
        <v-card
    class="mx-auto"
    max-width="344"
  >
    <v-img
    v-bind:src="character2.Poster"
      height="200px"
    ></v-img>

    <v-card-title>
      {{character2.Title}}
    </v-card-title>

    <v-card-subtitle>
      1,000 vistas
    </v-card-subtitle>

    

 
  </v-card>
  <br>    </div>

 

  </div>
    
  </main>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <v-btn block rounded class="text-h5 font-weight-regular primary white--text" outlined @click=" finalizar()">
Buscar pelicula
  </v-btn>
  <div  v-for="character of characters.Search" v-bind:key="character.id">
    <div class="card">
        
        <v-card
    class="mx-auto"
    max-width="344"
  >
    <v-img
    v-bind:src="character.Poster"
      height="200px"
    ></v-img>

    <v-card-title>
      {{character.Title}}
    </v-card-title>

    <v-card-subtitle>
      1,000 vistas
    </v-card-subtitle>

    <v-card-actions>
      <v-btn
        color="orange lighten-2"
        @click="show = !show"
        text
      >
        Ver Mas
      </v-btn>
      <v-btn
        color="orange lighten-2"
        @click=" addFavorito(character.imdbID)"
        text
      >
        FAVORITO
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        icon
        @click="show = !show"
      >
        <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text>
          Tipo:{{ character.Type }}
          Año :{{ character.Year }}
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
  <br>    </div>

 

  </div>
  

    </v-container>
  </v-form>
    </div>
  </template>
  <script>
// eslint-disable-next-line
/* eslint-disable */

 
 // import {gmapApi} from 'vue2-google-maps'
 import axios from "axios";

  export default {
    
    name:'InfoGeneral',
   
    data() {
      return {
        favMovies: JSON.parse(localStorage.getItem("favMovies")) ?? [],
        characters:[],
        nombramiento:'Spider-man',
        show: false,
        dialog: false,
        favoritos:[],
      }
    },
    methods:{
      
      async finalizar(){
        const envioDatos=
                {
                 
                  nombramiento : this.nombramiento,
                 
                }
       
        console.log('ppppppppppppppppppp', envioDatos.nombramiento)
        console.log('ppppppppppppppppppp', envioDatos.nombramiento)
        
        let result=axios
        .get("http://www.omdbapi.com/?&apikey=2cdfc014&s=="+envioDatos.nombramiento)
        .then(res=>{
            this.characters =res.data
            console.log(res.data)
        })
        .catch(err => {
            console.log(err)
        });
      },
      async addFavorito(id) {
      axios
       console.log('esto es id',id)
       let result=axios
       .get("https://www.omdbapi.com/?&apikey=2cdfc014&i="+id)
        .then(res => {
            console.log('00000000000000000000000000000000000',res)
          const { data } = res;
          const movie = {
            imdbID: data.imdbID,
            Title: data.Title,
            Poster: data.Poster,
            Year: data.Year,
          };
          console.log('respuesta a aaaaaaaaaaaaaaaaaaaaaaaaa',movie)
          this.favMovies.push(movie);
          localStorage.setItem("favMovies", JSON.stringify(this.favMovies));
          this.favoritos=localStorage.setItem("favMovies", JSON.stringify(this.favMovies));
          
        })
        .catch(err => console.log(err));
        console.log('pelis favoritaassssssssssssssssssss',this.favoritos)
    }

    },
   
    components:{
    
      
    },
    mounted(){
    
    },
    
  };
  </script>
